<h1>Bug Tickets</h1>
<br>
<% if current_user.role != "user"%>
  <%= render partial: "ticket", collection: @bug_tickets %>
<% else %>
  <%= render partial: "ticket", collection: @user_bug_tickets %>
<% end %>
<br>
<%= link_to 'New Bug Ticket', new_bug_ticket_path %>

