<h1>Bug Tickets</h1>
<br>
<% if current_user.role != "user"%>
  <%= render "ticket", bug_tickets: @bug_tickets %>
<% else %>
  <%= render "ticket", bug_tickets: @user_bug_tickets %>
<% end %>

<br>
<%= link_to 'New Bug Ticket', new_bug_ticket_path %>

